.zabit-logo{
    clear: both;
    position: relative;
    width: 100%;
}
.zabit-logo div{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.zabit-logo div a{
    display: block;
    width: 42px;
    height: 42px;
    overflow: hidden;
    padding: 10px;
    transition: all 0.25s ease;
    background: white;
    border-radius: 10px 0 0 0;
    border: none;
    outline: none;
}
.zabit-logo div a:hover{
    width: 120px;
}
.zabit-logo div a img{
    height: 25px;
    max-width: none;
}



/*==================================
=            RESPONSIVE            =
==================================*/

@media screen and (max-width: 495px) {
    .zabit-logo{
        position: static;
        background: #FFF;
    }
    .zabit-logo div{
        position: static;
        width: 100%;
    }
    .zabit-logo div a{
        width: 88px;
        margin: 0 auto;
        border-radius: 0;
        padding: 10px 0;
    }
    .zabit-logo div a:hover{
        width: 120px;
    }
}
